/* need to add a background image and just make the whole survey more prettier in general */

label {
  display: block;
  margin: 0.5rem 3
}
 
body {
  background-image:
  width: 100%;
  padding: 20;
  font-family:Helvetica;
  font-size: 16px
}
 
form {
  width:80vw;
  max-width: 500px;
  min-width: 300px;
}
 
input, textarea, select {
  margin: 10px 0 0 0;
}
 
.inline {
  width: 100%
}
 
fieldset {
  background-color: burlywood
}
